In [221]:
import pandas as pd

# scraping the wiki web page to extract the neighbourhood table

In [222]:

tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
neighbourhouds = tables[0]
neighbourhouds.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [223]:
print(neighbourhouds.shape)

(288, 3)

# remove rows with not assigned values for borough

In [224]:
neighbourhouds = neighbourhouds[neighbourhouds.Borough != 'Not assigned']
print(neighbourhouds.shape)

(211, 3)

# getting all neighbourhoods within the same postal code in one entry

In [225]:
unique_postCode_df = neighbourhouds.groupby('Postcode')['Neighbourhood'].apply(list)

unique_postCode_df  = pd.DataFrame(unique_postCode_df).reset_index()
unique_postCode_df.head()

  Postcode                             Neighbourhood
0      M1B                          [Rouge, Malvern]
1      M1C  [Highland Creek, Rouge Hill, Port Union]
2      M1E       [Guildwood, Morningside, West Hill]
3      M1G                                  [Woburn]
4      M1H                               [Cedarbrae]

In [226]:
neighbourhouds_copy = neighbourhouds.drop(['Neighbourhood'], axis=1)
neighbourhouds_copy.head()

  Postcode           Borough
2      M3A        North York
3      M4A        North York
4      M5A  Downtown Toronto
5      M5A  Downtown Toronto
6      M6A        North York

In [227]:
neighbourhouds_copy =neighbourhouds_copy.drop_duplicates()

In [228]:
neighbourhouds_copy.shape

(103, 2)

In [229]:
final  = unique_postCode_df.merge(neighbourhouds_copy, left_on ='Postcode', right_on= 'Postcode')
final.head()

  Postcode                             Neighbourhood      Borough
0      M1B                          [Rouge, Malvern]  Scarborough
1      M1C  [Highland Creek, Rouge Hill, Port Union]  Scarborough
2      M1E       [Guildwood, Morningside, West Hill]  Scarborough
3      M1G                                  [Woburn]  Scarborough
4      M1H                               [Cedarbrae]  Scarborough

# duplicating values for not assigned neighbours

In [230]:

x = final[final.Neighbourhood=="[Not assigned]"]
print(x)
final.index[final.Neighbourhood == "[Not assigned]"].tolist()

Empty DataFrame
Columns: [Postcode, Neighbourhood, Borough]
Index: []

[]

In [231]:
final.at[85,'Neighbourhood']= "Queen's Park"

# get longitude and latitude

In [232]:
import pandas as pd
import io
import requests

Geospatial_data=pd.read_csv("Geospatial_Coordinates.csv")

In [233]:

Geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [234]:
Geospatial_data = Geospatial_data.rename({"Postal Code":"Postcode"}, axis=1)

In [235]:
Geospatial_data.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [236]:
final.head()

  Postcode                             Neighbourhood      Borough
0      M1B                          [Rouge, Malvern]  Scarborough
1      M1C  [Highland Creek, Rouge Hill, Port Union]  Scarborough
2      M1E       [Guildwood, Morningside, West Hill]  Scarborough
3      M1G                                  [Woburn]  Scarborough
4      M1H                               [Cedarbrae]  Scarborough

In [237]:
final  = final.merge(Geospatial_data, left_on ='Postcode', right_on= 'Postcode')

In [238]:
final.head()

,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,M1B,"[Rouge, Malvern]",Scarborough,43.806686,-79.194353
1,M1C,"[Highland Creek, Rouge Hill, Port Union]",Scarborough,43.784535,-79.160497
2,M1E,"[Guildwood, Morningside, West Hill]",Scarborough,43.763573,-79.188711
3,M1G,[Woburn],Scarborough,43.770992,-79.216917
4,M1H,[Cedarbrae],Scarborough,43.773136,-79.239476